@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo.eot');
    src: url('../fonts/arimo.eot?iefix') format('eot'),
        url('../fonts/arimo.woff') format('woff'),
        url('../fonts/arimo.woff2') format('woff2'),
        url('../fonts/arimo.ttf') format('truetype'),
        url('../fonts/arimo.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    font-size: 10px;
    color: #848484;
    margin-right: 12px;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    background-color: cadetblue;
}

table {
    margin: 0 auto;
    font-family: Arimo;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #aaa;
}

.title_box_1 {
    background-color: #fafafa;
    width: 310px;
    height: 156px;
}

.firts_part_text {
    margin-bottom: 10px;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.second_part_text {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.title_box_2 {
    background-color: #89c331;
    width: 277px;
    height: 70px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.title_box_3 {
    background-color: #f04a56;
    width: 277px;
    height: 71px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.title_box_4 {
    background-color: #20807c;
    width: 277px;
    height: 70px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.title_price {
    background-color: #fafafa;
    width: 277px;
    height: 86px;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.title_price sup {
    font-size: 24px;
}

.title_price span {
    font-size: 18px;
}

.style_1 {
    background-color: #f2f2f2;
    height: 69px;
}

.style_2 {
    background-color: #e3e3e3;
    height: 69px;
}

.box_contact_us {
    background-color: #dddddd;
    width: 310px;
    height: 110px;
}

.contact_us_btn {
    display: block;
    margin: 0 auto;
    padding-top: 19px;
    border-radius: 5px;
    background-color: #484848;
    width: 192px;
    height: 39px;
}

.contact_us_btn:hover {
    background-color: #363636;
}

.box_buy_now_1 {
    background-color: #eeeeee;
    width: 278px;
}

.buy_now_btn_1 {
    display: block;
    margin: 0 auto;
    padding-top: 19px;
    border-radius: 5px;
    background-color: #89c331;
    width: 192px;
    height: 39px;
}

.buy_now_btn_1:hover {
    background-color: #537F10;
}

.box_buy_now_2 {
    background-color: #f4f4f4;
    width: 277px;
}

.buy_now_btn_2 {
    display: block;
    margin: 0 auto;
    padding-top: 19px;
    border-radius: 5px;
    background-color: #f04a56;
    width: 192px;
    height: 39px;
}

.buy_now_btn_2:hover {
    background-color: #9C1822;
}

.box_buy_now_3 {
    background-color: #eeeeee;
    width: 278px;
}

.buy_now_btn_3 {
    display: block;
    margin: 0 auto;
    padding-top: 19px;
    border-radius: 5px;
    background-color: #20807c;
    width: 192px;
    height: 39px;
}

.buy_now_btn_3:hover {
    background-color: #0A5350;
}

a {
    text-decoration: none;
    color: #fff;
}
