﻿.top-menu {
    text-align: center;
    font-weight: 900;
}

.top-menu li {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.top-menu-link {
    font-family: Roboto;
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

.top-image img {
    width: 100%;
}

.general-content {
    background-color: #e6e6e6;
    padding-bottom: 112px;
}

h1 {
    font-size: 22px;
    padding-bottom: 17px;
    padding-top: 56px;
}

h2 {
    font-size: 16px;
    line-height: 26px;
    margin-left: 115px;
    margin-right: 115px;
    padding-top: 17px;
}

h1,
h2 {
    font-family: Roboto;
    color: #373737;
    text-align: center;
    font-weight: 900;
}

.content-bottom {
    border-radius: 5px;
    background-color: #16a085;
    width: 192px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
}

.content-bottom p {
    font-family: GothamRounded; /* Не нашел этот шрифт в Google Fonts" */
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.content-bottom a {
    text-decoration: none;
}

.footer {
    height: 108px;
}

h3 {
    font-family: Roboto;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-right: 45px;
}
