body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

p{
    font-size: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 10px solid #aaa;
}

tr th,
tr td {
    border: 5px solid #aaa;
    border-collapse: collapse;
    background-color: #fff;
    height: 100px;
    width: 100px;
}

.black {
    background-color: #000;

}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}