body {
    background: #000;
    color: #ebd71c;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    overflow: hidden;
    position: relative;
}

h1,
h2 {
    text-align: center;
    line-height: 1.5;
}

.container {
    position: absolute;
    width: 40%;
    height: 200px;
    bottom: 0;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(45deg);
    z-index: 1;
}

.scroll {
    text-align: justify;
    position: absolute;
    top: 180%;
    animation: scroll 30s linear infinite;
    z-index: 1;
}

@keyframes scroll {
    0% {
        top: 280%;
    }

    100% {
        top: -180%;
    }
}
