.general-page {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.header {
    display: inline-block;
    width: 1054px;
    height: 45px;
    padding-top: 49px;
    padding-right: 155px;
    padding-bottom: 47px;
    padding-left: 155px;
}

.top-logo {
    display: inline-block;
}

.logo-text {
    float: right;
}

.top-logo a {
    text-decoration: none;
}

.top-logo-1 {
    float: left;
    padding-right: 20px;
}

.logo-text-1 {
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
}

.logo-text-2 {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
}

.text-top-right {
    float: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    vertical-align: middle;
}

.content {
    height: 547px;
    padding-right: 125px;
    padding-left: 125px;
}

.box li {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 28px;
    margin-left: 28px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.box-bottom {
    width: 312px;
    height: 249px;
}

.footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}

li.box-bottom {
    text-align: center;
}

.box-bottom p {
    margin-top: 22px;
}

.box-bottom img {
    border: 2px solid #eee;
}

.details {
    opacity: 0.0;
    position: absolute;
    height: 0px;
    background-color: orange;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    overflow: hidden;
}

a:hover .details {
    opacity: 1.0;
    transform: translateY(-62px);
    transition: 1.8s;
    position: absolute;
    height: 60px;
    background-color: #ff6600;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.box-bottom:hover {
    color: #ff6600;
}

.text-detail-1 {
    margin-left: 21px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.text-detail-2 {
    margin-left: 21px;
    margin-bottom: 17px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}

.text-detail-3 {
    float: right;
    margin-right: 18px;
    margin-bottom: 17px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}
