.main-content-1 {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.logo-top a {
    text-decoration: none;
}

.logo-top {
    height: 180px;
}

.logo-top h1 {
    padding-top: 50px;
    padding-bottom: 45px;
}

.text-logo-1 {
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

.text-logo-2 {
    font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

.top-menu {
    background-color: #35444f;
    height: 70px;
    text-align: center;
}

.top-menu li {
    display: inline-block;
    padding: 23px 40px;

}

.top-menu a {
    font-family: 'Myriad Pro';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.top-menu li:hover {
    background-color: #222f3a;
    color: #ffffff;
    padding: 23px 40px;
}

.main-content-2 {
    height: 901px;
    margin-top: 51px;
}

.content-menu {
    display: block;
    width: 344px;
    height: 390px;
    background: #ffffff;
    border: 1px solid;
    border-color: #000000;
    float: left;
}

.content-menu li {
    font-family: 'Myriad Pro';
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    padding: 17px 0px 17px 44px;
    line-height: 44px;
}

.content-menu a {
    text-decoration: none;
}

.content-menu li:hover {
    font-family: 'Myriad Pro';
    color: #000;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    padding: 17px 0px 17px 69px;
    line-height: 44px;
    background-color: #d9d9d9;
}

.content {
    float: right;
    display: block;
    width: 885px;
    height: 529px;
}

.content-image {
    display: block;
    height: 529px;
    border: 1px solid;
    border-color: #000000;
    margin-bottom: 50px;
    
}

.content-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
    margin-top: 74px;
}

.content-image img:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
    margin-top: 74px;
    transform: scale(1.3);
    transition: 1.5s;
}

.content-text {
    font-family: 'Myriad Pro';
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 815px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 69px;
    background-color: #cccccc;
    margin-bottom: 30px;
    padding-left: 44px;
    padding-right: 34px;
}

.footer li {
    display: inline-block;
    font-family: 'Myriad Pro';
    color: #0c1927;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
    float: left;
    margin-right: 20px;
}

.footer li:hover {
    display: inline-block;
    font-family: 'Myriad Pro';
    color: #3181a6;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
    float: left;
    margin-right: 20px;
    text-decoration: underline;
}

.footer p {
    font-family: 'Myriad Pro';
    color: #0c1927;
    font-size: 26px;
    font-weight: 400;
    text-align: right;
    padding-top: 21px;
}
