.background {
    background: url(../images/background.jpg);
    background-size: cover;
    height: 100%;
}

.container {
    width: 1070px;
    margin: 0 auto;
}

.header-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.logo-text a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.logo-text a {
    text-transform: uppercase;
    text-decoration: none;
}

.logo-text h1 {
    margin-left: 15px;
}

.milan-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}

.holidays-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}

.contacts {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

h3,
h1 {
    font-family: Verdana;
    color: #ffffff;
    line-height: 21px;
}

content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: center;
}

.content-box {
    display: block;
    padding-bottom: 58px;
}

content p {
    padding-top: 22px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.content-box a {
    text-decoration: none;
}

.content-box p:hover {
    color: #ff7940;
}

.details {
    opacity: 0.0;
    position: absolute;
    height: 0px;
    width: 307px;
    background-color: #ff7940;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    overflow: hidden;
}

a:hover .details {
    opacity: 1.0;
    transform: translateY(-62px);
    transition: 1.8s;
    position: absolute;
    height: 60px;
    width: 307px;
    background-color: #ff7940;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.text-detail-1 {
    margin-left: 21px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.text-detail-2 {
    margin-left: 21px;
    margin-bottom: 17px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}

.text-detail-3 {
    float: right;
    margin-right: 18px;
    margin-bottom: 17px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}
footer p {
    margin-bottom: 20px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
