body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#firstBtn {
    padding: 5px;
    font-size: 20px;
}

#valueDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sizeField {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

#colorField {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

#secondBtn {
    padding: 5px;
    font-size: 20px;
}

#circle {
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #000;
    margin-bottom: 20px;
}
