.container {
    width: 1010px;
    margin: 0 auto;
}

.bg-header {
    background: url(../images/greeting-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 640px;

}

.bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.bg-nav {
    width: 100%;
    height: 110px;
    position: absolute;
    background-color: #fff;
    margin-top: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
}

.logo-text-company {
    color: #424f57;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}

.logo-text-name {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    /* Text style for "Name" */
    color: #14afca;
    font-weight: 400;
    text-transform: uppercase;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 565px;
    color: #3e4c4e;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav a {
    color: #3e4c4e;
}

.nav a:hover {
    color: #14afca;
}

.what h2 {
    margin-top: 110px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #14afca;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    color: #424f57;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
}

.what p {
    margin-bottom: 101px;
    color: #424f57;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.bg-companies {
    background: url(../images/bg-companies.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 715px;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.companies-content h3 {
    padding-top: 134px;
    color: #14afca;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}

.companies-content p {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.9px;
    text-align: center;
}

.logo-companies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 270px;
    width: 900px;
    align-items: center;
}

.adobe-logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 96px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background-color: #fcfbfb;
}

.meet-us h2 {
    margin-top: 110px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #14afca;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.person-meet-us {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.box-meet-us {
    width: 280px;
    text-align: center;
}

.box-meet-us p {
    margin-top: 27px;
    margin-bottom: 124px;
    color: #424f57;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.bg-testimonials {
    background: url(../images/testimonials.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 650px;
}


.testimonials-content h2 {
    padding-top: 110px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #14afca;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title-testimonials {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.testimonials-content p {
    margin-top: 43px;
    color: #d3cccc;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: center;
}

.author {
    margin-top: 25px;
    color: #fff;
    font-family: Open Sans;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    text-align: right;
}

.why h2 {
    padding-top: 110px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #14afca;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.why p {
    margin-bottom: 110px;
    color: #424f57;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
}

footer p {
    margin-bottom: 105px;
    color: #3d3c3c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;
}

footer p span {
    font-weight: 700;
}

.chevron {
    position: relative;
    text-align: center;
    margin-bottom: 6px;
    height: 60px;
    width: 100%;
}

.chevron:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    height: 140%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, 6deg);
}

.chevron:after {
    content: '';
    position: absolute;
    top: -40px;
    right: 0;
    height: 140%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, -6deg);
}

.chevron-second {
    position: relative;
    text-align: center;
    margin-bottom: 6px;
    height: 60px;
    width: 100%;
}

.chevron-second:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    height: 140%;
    width: 50%;
    background: #fff;
    transform: skew(0deg, 6deg);
}

.chevron-second:after {
    content: '';
    position: absolute;
    top: -40px;
    right: 0;
    height: 140%;
    width: 51%;
    background: #fff;
    transform: skew(0deg, -6deg);
}
